/* src/Cart.scss */
.empty-cart{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
}
.cart-popup {
    position: fixed;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
  
    .cart-content {
      position: absolute;
      top: 0;
      right: 0px;
      width: 32%;
      border: 1.4px solid black;
      min-height: 100%;
      overflow-y: hidden; 
      background-color: #fff;
      z-index: 1000; 

      transition: transform 0.3s ease;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .cart-heading {
        width: 100%;
        height: 10%;
        background-color: transparent;
        position: relative;
        border-bottom: 1.4px solid black;
        display: flex;
        justify-content: space-between;
      }
      .close-btn {
        width: 20%;
        background-color: transparent;
        cursor: pointer;
        font-size: 20px;
        color: #333; 
      }
    }
  }
  .carttext {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 530;
  }
  .cart-items{
    width: 90%;
    height: 45%;
    list-style: none;
    padding-left: 0;
    border-bottom: 1.4px solid black;
    overflow: auto;
    ::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

  }
  .cart-item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  img{
    width: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 80%;
  }
  .prod-inf{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  }
  #generalinfo{
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: column;

    label{
      width: 60%;
      height: 40%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
    }
    #checkbox{
      width: 13%;
      height: 13%;
      border: 1.4px solid black;
      accent-color: white;
    }
    #price{
      height: 10%;
    }
    #tax{
      height: 10%;
    }
    #buttons{
      height: 40%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding-bottom: 30px;
      .cart-buttons{
        height: 38%;
        background: none;
        border: 1.4px solid black;
        color: #333;
      }
    }
  }
  @media (max-width: 700px) {
    .cart-popup {
      position: fixed;
      top: 0;
      right: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
      z-index: 999; 
    
      .cart-content {
        position: absolute;
        top: 0;
        right: 0px;
        width: 60%;
        border: 1.4px solid black;
        min-height: 100%;
        overflow-y: hidden; 
        background-color: #fff;
        z-index: 1000; 
  
        transition: transform 0.3s ease;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .cart-heading {
          width: 100%;
          height: 10%;
          background-color: transparent;
          position: relative;
          border-bottom: 1.4px solid black;
          display: flex;
          justify-content: space-between;
        }
        .close-btn {
          width: 20%;
          background-color: transparent;
          cursor: pointer;
          font-size: 20px;
          color: #333; 
        }
      }
    }
  }