body{
    height:100%;
    width: 100%;
    
}



#directory{
    display: flex;
    padding-right: 40px;
    align-items: center;
    color: black;
    font-size: 0.8rem;
    font-weight: 470;
    width: 10%;
    justify-content: flex-end;
}
#heading{
    background-color: white;
    width: 100vw;
    border: 1.4px solid black;
    border-top: 0 ;
    color: black;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    text-decoration: underline;

}